html {
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
}

header {
  background: #333;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  height: 80px;
}

nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

nav ul {
  display: flex;
  gap: 1rem;
  list-style: none;
  margin: 0;
}

nav a {
  color: #fff;
  text-decoration: none;
}

section {
  padding: 20px;
  margin: 20px;
  background: #fff;
  border-radius: 8px
}

.project img {
  max-width: 100%;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
}